{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia
{% endblock %}

{% block body %}
<h1>New Page</h1>
<form method="POST" action="{% url 'newPage' %}">
    {% csrf_token %}
    <input type="text" name="title" placeholder="title">
    <textarea name="info" placeholder="Type new info here"></textarea>
    </br>
    <button type="submit" value="submit">Submit</button>
</form>



{% endblock %}

<!-- Was going to try and use the form the way we did in lecture but wasn't sure how to add a text area
    